{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Organisation</th>
                <th>Buildings</th>
            </tr>
        </thead>
        <tbody>
            {% for organisation in organisations %}
                <tr>
                    <td>{{ building.organisation }}</td>
                    <td>{{ building.building_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}